In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
UNWANTED_COLUMNS = ["amenities", "address", "pets_allowed", "body"]
RAW_DATA_PATH = "resources/data.csv"

In [3]:
# Read in the data.
df = pd.read_csv(RAW_DATA_PATH)
df.head()

C:\Users\seven\AppData\Local\Temp\ipykernel_17100\3217247279.py:2: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(RAW_DATA_PATH)

,id,category,title,body,amenities,bathrooms,bedrooms,currency,fee,has_photo,...,price_display,price_type,square_feet,address,cityname,state,latitude,longitude,source,time
0,5668640009,housing/rent/apartment,One BR 507 & 509 Esplanade,"This unit is located at 507 & 509 Esplanade, R...",NaN,1.0,1.0,USD,No,Thumbnail,...,"$2,195",Monthly,542,507 509 Esplanade,Redondo Beach,CA,338.520,-1.183.759,RentLingo,1577360355
1,5668639818,housing/rent/apartment,Three BR 146 Lochview Drive,"This unit is located at 146 Lochview Drive, Ne...",NaN,1.5,3.0,USD,No,Thumbnail,...,"$1,250",Monthly,1500,146 Lochview Dr,Newport News,VA,370.867,-764.941,RentLingo,1577360340
2,5668639686,housing/rent/apartment,Three BR 3101 Morningside Drive,This unit is located at 3101 Morningside Drive...,NaN,2.0,3.0,USD,No,Thumbnail,...,"$1,395",Monthly,1650,3101 Morningside Dr,Raleigh,NC,358.230,-786.438,RentLingo,1577360332
3,5668639659,housing/rent/apartment,Two BR 209 Aegean Way,"This unit is located at 209 Aegean Way, Vacavi...",NaN,1.0,2.0,USD,No,Thumbnail,...,"$1,600",Monthly,820,209 Aegean Way,Vacaville,CA,383.622,-1.219.712,RentLingo,1577360330
4,5668639374,housing/rent/apartment,One BR 4805 Marquette NE,"This unit is located at 4805 Marquette NE, Alb...",NaN,1.0,1.0,USD,No,Thumbnail,...,$975,Monthly,624,4805 Marquette NE,Albuquerque,NM,351.038,-1.066.110,RentLingo,1577360308

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99492 entries, 0 to 99491
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             99492 non-null  int64
 1   category       99492 non-null  object
 2   title          99492 non-null  object
 3   body           99489 non-null  object
 4   amenities      83448 non-null  object
 5   bathrooms      99429 non-null  float64
 6   bedrooms       99368 non-null  float64
 7   currency       99492 non-null  object
 8   fee            99492 non-null  object
 9   has_photo      99492 non-null  object
 10  pets_allowed   39068 non-null  object
 11  price          99491 non-null  float64
 12  price_display  99491 non-null  object
 13  price_type     99492 non-null  object
 14  square_feet    99492 non-null  int64
 15  address        7943 non-null   object
 16  cityname       99190 non-null  object
 17  state          99190 non-null  object
 18  latitude       99467 non-null  float64
 19  longitude      99467 non-null  object
 20  source         99492 non-null  object
 21  time           99492 non-null  int64
dtypes: float64(4), int64(3), object(15)
memory usage: 16.7+ MB

In [5]:
df = df.drop(columns=UNWANTED_COLUMNS).dropna()

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99007 entries, 0 to 99491
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             99007 non-null  int64
 1   category       99007 non-null  object
 2   title          99007 non-null  object
 3   bathrooms      99007 non-null  float64
 4   bedrooms       99007 non-null  float64
 5   currency       99007 non-null  object
 6   fee            99007 non-null  object
 7   has_photo      99007 non-null  object
 8   price          99007 non-null  float64
 9   price_display  99007 non-null  object
 10  price_type     99007 non-null  object
 11  square_feet    99007 non-null  int64
 12  cityname       99007 non-null  object
 13  state          99007 non-null  object
 14  latitude       99007 non-null  float64
 15  longitude      99007 non-null  object
 16  source         99007 non-null  object
 17  time           99007 non-null  int64
dtypes: float64(4), int64(3), object(11)
memory usage: 14.4+ MB